<div class="row">

    <div class="col-lg-10">
        <h4 style="text-align: center">
            <span ng-if="tree.loaded">Tree</span>
        <span ng-if="!tree.loaded && tree.requestSent">
           Started service discovery analysis for the id: {{tree.id}}. This may take a while...
        </span>
        </h4>
        <div class="chart" id="url-tree">
        </div>
    </div>

    <div class="col-lg-1">
        <h4>Input</h4>
        <form>
            <fieldset class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter ID"
                       ng-model="tree.id">
            </fieldset>
            <button type="submit" ng-click="tree.getTree()" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-lg-2" style="float: right">
        <h4>Stats</h4>
        <p>Original Size {{tree.stats.total}}</p>
        <p>Reduced by {{tree.stats.reductionPercentage}}</p>
        <p>Reduced URL Services Size {{tree.stats.reducedServicesSize}}</p>
        <p>Total URL Services Size {{tree.stats.urlServicesSize}}</p>
        <p>Noise Size {{tree.stats.ignoredNoiseSize}}</p>
        <p>Ignored Controller-bases Services {{tree.stats.ignoredControllerServices}}</p>
    </div>
</div>
